body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Kaushan Script', cursive;
    background-color: #948375;
}


header {
    background-color: #CEB8A1; /*para sa background ng navigation bar*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: relative;
    z-index: 10; 
    height: 45px;   
    width: relative;
}

footer{
    background-color: #CEB8A1;
    justify-content: space-evenly;
    height: 30px;
    width: relative; 
    display: flex;  
    position: bottom;
    padding: 10px 20px;
}
.icon img{
 width: 30px;
 height: 30px;
 border-radius: 2px;
 margin-right: 90px;
 margin-left: 90px;
 margin-top: auto;
 margin-bottom: auto;
}
.icon {
position:relative;
}

.icon-row {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;

}

/*-------HOME--------*/
/* Logo Section */
.logo h1 {
    font-family: 'Italianno', cursive;
    font-size: 20px;
    color: white;
    margin: 0;
    position: absolute;
    top: 15px;
    left: 70px;
    gap: 0px;
    opacity: 1; 
    font-weight: 400;
    line-height: 30px;
    text-align: left;
   
}
h2{
    width: 865px;
            height: 270px;
            position: absolute; 
            top: 0px;
            left: 295px;
            gap: 0px;
            opacity: 3; 
            font-family: 'Kaushan Script', cursive; 
            font-size: 66px;
            font-weight: 400;
            line-height: 139.3px;
            text-align: center;

}
h3{
    width: 865px;
    height: 270px;
    position: absolute; 
    top: 87px;
    left: 410px;
    gap: 0px;
    opacity: 4; 
    font-family: 'Kaushan Script', cursive; 
    font-size: 50px;
    font-weight: 400;
    line-height: 139.3px;
    text-align: center;
    color: #C4AF9A;

}
.logo img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

/* Navigation Bar */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

nav ul li a:hover {
    color: #f39c12;
}

/* TCM Section */
.TCM {
    background-image: url(coffeebackground.jpeg); 
    background-size: cover;
    background-position: center;
    height: 85vh;
    display:block;
    position: relative;
}

.TCM::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.TCM-content {
    text-align: center;
    z-index: 2;
    color: white;
}

.TCM-content h1 {
    font-size: 64px;
    margin: 0;
    font-family: 'Kaushan Script';
}

.TCM-content h1 span {
    display: block;
}

/* Sa Menu na Page*/
Menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    background-color: 27160F; 
    z-index: 1;
}
.Menu-section{
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Menu-content {
    text-align: center;
    z-index: 2;
    font-size: 20px;
}

.Menu-content h1 {
    font-size: 50px;
    margin: 0;
    font-family: 'Kaushan Script';
}

.Menu-content h1 span {
    display: block;
}




/*Menu Buttons*/
.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;  
    margin-left: 200px;
    margin-top: 80px;
}

.coffee-button {
    font-size: 15px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid white;
    background: #664935;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family:Georgia, serif, bold;
    color:white;
}
.coffee-button:hover {
    background: #948375;

}
.tea-button {
    font-size: 15px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid white;
    background: #664935;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family:Georgia, serif, bold;
    color:white;
    }  
.tea-button:hover {
        background: #948375;
    }

.matcha-button {
    font-size: 15px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid white;
    background: #664935;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family:Georgia, serif, bold;
    color:white;
    }        
.matcha-button:hover {
    background: #948375;
    }

.soda-button {
    font-size: 15px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid white;
    background: #664935;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family:Georgia, serif, bold;
    color:white;
    }             
.soda-button:hover {
    background: #948375;
    }

.juice-button {
    font-size: 15px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid white;
    background: #664935;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family:Georgia, serif, bold;
    color:white;
     }               
.juice-button:hover {
    background: #948375;
    }

.sandwhich-button {
    font-size: 15px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid white;
    background: #664935;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 150px;
    margin-top: -198px;
    font-family:Georgia, serif, bold;
    color:white;
     }                  
.sandwhich-button:hover {
    background: #948375;
    }

.pasta-button {
    font-size: 15px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid white;
    background: #664935;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 150px;
    font-family:Georgia, serif, bold;
    color:white;
    }                         
.pasta-button:hover {
    background: #948375;
     }

.pastry-button {
    font-size: 15px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid white;
    background: #664935;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 150px;
    font-family:Georgia, serif, bold;
    color:white;
    }                            
.pastry-button:hover {
    background: #948375;
    }

.potato-button {
    font-size: 15px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid white ;
    background: #664935;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 150px;
    font-family:Georgia, serif, bold;
    color:white;
    }                             
.potato-button:hover {
    background: #948375;
        }

.image-container {
    margin-left: 600px;
    margin-top: -260px;
    margin-bottom: 40px;
    width: 600px;
    height: 450px;
    background-color: #bfa690;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}


/* ABOUT US(ABOUT TCM) */

.about-tcm {
    width: auto;
    height: auto;
    flex-shrink: 0; 
    position: relative; 
}

/* ABOUT TCM H2 Styling */
.about-tcm h2 {
    width: 309px;
    height: 45px;
    flex-shrink: 0;
    color:#27160f;
    font-family: 'Labrada';
    font-size: 30px;
    font-weight: 700;
    line-height: 45px; 
    top: 5px; 
    margin-left:250px;
}

/* Paragraph Styling */
.about-text {
    font-family: 'Labrada', serif;
    font-size: 18px;
    width: 650px;
    height: auto; 
    position: absolute;
    margin-left: 50px;
    margin-top: 83px;   
     line-height: 1.6;
    color: white;
    overflow: hidden;
}

/* Image Styling */
.about-tcmImg {
    position: absolute;
    left: 750px;
    top: 140px;
    width: 540px;
    height: 374px;
}

.about-tcmImg img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

/* About TCM Bio Section */
.tcm-bio1 {
    position: relative;
    
}

.tcm-bio1 img {
    position: absolute;
    left: 120px;
    top: 615px;
    width: 271px;
    height: 268px;
    border-radius: 30px;
    object-fit: cover;
}

.tcm-bio1 h3 {
    position: absolute;
    left: 508px;
    top: 714px;
    width: 309px;
    height: 45px;
    font-family: 'Labrada', serif;
    font-size: 30px;
    line-height: 45px;
    margin: 0;
}

.tcmbio-text1 {
    position: absolute;
    left: 460px;
    top: 580px;
    margin-right: 50px;
    width: 830px;
    height: auto; 
    font-family: 'Labrada', serif;
    font-size: 18px;
    line-height: 1.6; 
    color: white;
    overflow: hidden;
}

/* Bio Section 2 */
.tcmbio-text2 {
    position: absolute;
    left: 50px;
    top: 910px;
    margin-right: 50px;
    width: 1230px;
    font-family: 'Labrada', serif;
    font-size: 18px;
    line-height: 1.6;
    color: white;
    overflow: hidden;
}

.tcmbio-text2 h3 {
    position: absolute;
    left: 508px;
    top: 744px;
    width: 309px;
    height: 45px;
    font-family: 'Labrada';
    font-size: 24px;
    line-height: 45px;
    margin: 0;
}


/*----TCD*-----*/
.tcd-bio1 {
    position: relative;
    
}

.tcdbio-text1 {
    position: absolute;
    left: 460px;
    top: 1150px;
    margin-right: 50px;
    width: 830px;
    height: auto; 
    font-family: 'Labrada', serif;
    font-size: 18px;
    line-height: 1.6; 
    color: white;
    overflow: hidden;
}

.tcd-bio1 img {
    position: absolute;
    left: 120px;
    top: 615px;
    width: 271px;
    height: 1100px;
    border-radius: 30px;
    object-fit: cover;
}


/*--------------BLOG---------------*/
.blog-categories {
    text-align: center;
    font-family: "Kaushan Script";  
    background-color: #d4b391; 
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.blog-categories h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #5f3e24; 
}

.category-row {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
}

.category {
    position: relative;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}

.category img {
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 9px;
    transition: transform 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}
.category img:hover {
    transform: scale(1.1); 
}


/* Badge style */
.badge {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: solid #5f3e24;
    padding: 1px;
    border-radius: 50px;
    font-size: 18px;
    z-index: 10; 
}


/*----------BATIROL------------------*/
.batirol-content h1 {
    color: #000;
    text-align: center;
    font-family: Labrada;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
}


.batirol-section {
    display: flex; 
    gap: 20px;
}

.about-batirol {
    flex-grow: 1; 
}

.about-batirol p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 40px;
    width:940px;
    margin-left:50px;
    margin-right: 50px;
}


.img-batirol {
    width:500px;
    height:100px;
    flex-shrink: 0; 

}

.img-batirol a {
    display: block;
    font-size: 15px;
    width: 200px;
    height: 200px;
    border-radius: 15.657px;
    background: url('batirol1.jpg') lightgray 50% / cover no-repeat;
}

.batirol-section {
    padding: 10px;
}

/*section ng batirol*/
.batirol-section2 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-batirol2 {
    flex-grow: 1; 
}

.about-batirol2 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-right:50px;
    margin-left:50px;
    width: 940px;
   
}


.img-batirol2 {
    margin-top: 22px;
    width: 200px;
    height: 200px;
    flex-shrink: 0; 
    margin-left:50px;

}

.img-batirol2 a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15.657px;
    background: url(batirol2.jpg) lightgray 50% / cover no-repeat;
}

.batirol-section2 {
    padding: 20px;
}

/*batirol 3*/
.batirol-section3 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-batirol3 {
    flex-grow: 1; 
}

.about-batirol3 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
    margin-top: 150px;
    margin-left:50px;
    width:940px;
   
}

.img-batirol3 {
    margin-top: 90px;
    width: 200px;
    height: 200px;
    flex-shrink: 0; 
    margin-right: 300px;

}

.img-batirol3 a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15.657px;
    background: url(batirol3.jpg) lightgray 50% / cover no-repeat;
}


/*batirol4*/

.batirol-section4 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-batirol4 {
    flex-grow: 1; 
}

.about-batirol4 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width:1200px;
   
}

/*batirol5*/
.batirol-section5 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-batirol5 {
    flex-grow: 1; 
}

.about-batirol5 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 30px;
    width:920px;
    margin-left: 50px;
    margin-right:50px;
   
}

.img-batirol5 {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    flex-shrink: 0; 
    margin-left:50px;
}

.img-batirol5 a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15.657px;
    background: url(batirol5.jpg) lightgray 50% / cover no-repeat;
}

/*batirol6*/
.batirol-section6 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-batirol6 {
    flex-grow: 1; 
}

.about-batirol6 {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width:1150px;
   
}
/*batirol 7*/
.batirol-section7 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-batirol7 {
    flex-grow: 1; 
}

.about-batirol7 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left:50px;
    margin-right: 50px;
    width:800px;
}

.img-batirol7 {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    flex-shrink: 0; 
    margin-right:300px;
}

.img-batirol7 a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15.657px;
    background: url(batirol7.jpg) lightgray 50% / cover no-repeat;
}

/*batirol8*/
.batirol-section8 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-batirol8 {
    flex-grow: 1; 
}

.about-batirol8 {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width:1150px;
}






/*----------USED COFFEE GROUND sa BLOG*/
.cfgrounds-content h1 {
    color: #000;
    text-align: center;
    font-family: Labrada;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
}
/*RIGHTTTTT*/
.cfgrounds-section {
    display: flex; 
    gap: 20px;
}

.about-cfgrounds {
    flex-grow: 1; 
}

.about-cfgrounds p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 40px;
    width:940px;
    margin-left:150px;
   
}


.img-cfrgounds {
    width:500px;
    height:100px;
    flex-shrink: 0; 
  


}

.img-cfgrounds a {
    display: block;
    font-size: 15px;
    width: 200px;
    height: 200px;
    border-radius: 15.657px;
    background: url(cfgrounds.jpg) lightgray 50% / cover no-repeat;
    margin-right: 150px;
    margin-top: 50px;
}

.cfgrounds-section {
    padding: 10px;
}

/*section 2 cf LEEEEFT*/ 
.cfgrounds-section2 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-cfgrounds2 {
    flex-grow: 1; 
}

.about-cfgrounds2 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-right:100px;
    margin-left: 100px;
   
    width: 940px;
    
}


.img-cfgrounds2 {
    margin-top: 22px;
    width: 200px;
    height: 200px;
    flex-shrink: 0; 
    margin-left:50px;

}

.img-cfgrounds2 a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15.657px;
    background: url(cfgrounds2.jpg) lightgray 50% / cover no-repeat;
    margin-left: 100px;
    margin-top: 30px;
   
}

.cfgrounds-section2 {
    padding: 20px;
}


/*section 3*/
.batirol-cfgrounds3 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-cfgrounds3 {
    flex-grow: 1; 
}

.about-cfgrounds3 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    width:1200px;
}
 /*section 4*/   
 .cfgrounds-section4 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-cfgrounds4 {
    flex-grow: 1; 
}

.about-cfgrounds4 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 125px;
    
    width: 940px;
    
}


.img-cfgrounds4 {
    margin-top: 22px;
    width: 200px;
    height: 200px;
    flex-shrink: 0; 
    margin-right: 150px;
  

}

.img-cfgrounds4 a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15.657px;
    background: url(cfgrounds4.jpg) lightgray 50% / cover no-repeat;
    margin-top: -15px;
  
   
}

.cfgrounds-section4 {
    padding: 20px;
}

/*section 5 PHRASE LANG*/
.batirol-cfgrounds5 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-cfgrounds5 {
    flex-grow: 1; 
}

.about-cfgrounds5 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    width:1200px;
}

/*section 6*/
.cfgrounds-section6 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-cfgrounds6 {
    flex-grow: 1; 
}

.about-cfgrounds6 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-right: 150px;
    width:940px;
    
   
   
    
}


.img-cfgrounds6 {
    margin-top: 22px;
    width: 200px;
    height: 200px;
    flex-shrink: 0; 
    margin-left:120px;
    margin-right: 20px;


}

.img-cfgrounds6 a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15.657px;
    background: url(cfgrounds6.jpg) lightgray 50% / cover no-repeat;
  
    margin-top: 15px;
    
   
}

.cfgrounds-section6 {
    padding: 20px;
}

/*section 7*/
/*RIGHTTTTT*/
.cfgrounds-section7 {
    display: flex; 
    gap: 20px;
}

.about-cfgrounds7 {
    flex-grow: 1; 
}

.about-cfgrounds7 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 40px;
    width:940px;
    margin-left:150px;
   
}
.img-cfrgounds7 {
    width:500px;
    height:100px;
    flex-shrink: 0; 
  


}

.img-cfgrounds7 a {
    display: block;
    font-size: 15px;
    width: 200px;
    height: 200px;
    border-radius: 15.657px;
    background: url(cfgrounds7.jpg) lightgray 50% / cover no-repeat;
    margin-right: 150px;
    margin-top: 50px;
}

.cfgrounds-section7 {
    padding: 10px;
}

/*section 8 PHRASE LANG*/
.cfgrounds-section8 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-cfgrounds8 {
    flex-grow: 1; 
}

.about-cfgrounds8 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    width:1200px;
}
/*section 9*/
.cfgrounds-section9 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-cfgrounds9 {
    flex-grow: 1; 
}

.about-cfgrounds9 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-right:100px;
    margin-left: 100px;
   
    width: 940px;
    
}


.img-cfgrounds9 {
    margin-top: 22px;
    width: 200px;
    height: 200px;
    flex-shrink: 0; 
    margin-left:50px;

}

.img-cfgrounds9 a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15.657px;
    background: url(cfgrounds9.jpg) lightgray 50% / cover no-repeat;
    margin-left: 100px;
    
   
}

.cfgrounds-section9 {
    padding: 20px;
}

/*section 10 PHRASE LANG*/
.batirol-cfgrounds10 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
}

.about-cfgrounds10 {
    flex-grow: 1; 
}

.about-cfgrounds10 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    width:1200px;
}


/*EDUCATION BLOG*/
.education-content h1 {
    color: #000;
    text-align: center;
    font-family: Labrada;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
}

.education-section {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    width: 1440px;
    height: 7485px;
    flex-shrink: 0;
    


}

.about-education {
    flex-grow: 1; 
}

.about-education p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1182px;
    
}

/* edu section 2*/
.education-section2 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    
}

.img-education2 {
    width: 577px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(education2.jpg) lightgray 50% / cover no-repeat;
    margin-top: 150px;
    margin-left: -1300px;
}

.about-education2 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top: 90px;
}

.about-education2 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 70px;
}
/* section 3*/
.education-section3 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    flex-shrink: 0;
    width: 1440px; 
    margin-top: 539px;
    margin-left: -1440px;



}

.about-education3 {
    flex-grow: 1; 
}

.about-education3 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1194px;

}

/* edu section 4*/
.education-section4 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    
}

.img-education4 {
    width: 577px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(education4.jpg) lightgray 50% / cover no-repeat;
    margin-top: 100px;
    margin-left: -1320px;
}

.about-education4 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top: 90px;
}

.about-education4 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 35px;
}

/*section 5*/
.education-section5 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    flex-shrink: 0;
    width: 1440px; 
    margin-top: 500px;
    margin-left: -1440px;



}

.about-education5 {
    flex-grow: 1; 
}

.about-education5 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1194px;


}

/* edu section 6*/
.education-section6 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    
}

.img-education6 {
    width: 577px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(education6.jpg) lightgray 50% / cover no-repeat;
    margin-top: 110px;
    margin-left: -1320px;
}

.about-education6 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top: 90px;
}

.about-education6 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}

/*section 7*/
.education-section7 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    flex-shrink: 0;
    width: 1440px; 
    margin-top: 500px;
    margin-left: -1440px;



}

.about-education7 {
    flex-grow: 1; 
}

.about-education7 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1194px;


}
/*section 8*/

.education-section8 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    margin-top: 230px;
}

.img-education8 {
    width: 577px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(education8.jpg) lightgray 50% / cover no-repeat;
    margin-top: 110px;
    margin-left: -1320px;
}

.about-education8 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top: 90px;
}

.about-education8 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}

/*section 9*/
.education-section9 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    flex-shrink: 0;
    width: 1440px; 
    margin-top: 700px;
    margin-left: -1440px;



}

.about-education9 {
    flex-grow: 1; 
}

.about-education9 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1194px;


}

/*section 10*/

.education-section10 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    margin-top: 430px;
}

.img-education10 {
    width: 577px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(education10.jpg) lightgray 50% / cover no-repeat;
    margin-top: 110px;
    margin-left: -1320px;
}

.about-education10 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top: 90px;
}

.about-education10 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}

/*section 11*/

.education-section11{
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    flex-shrink: 0;
    width: 1440px; 
    margin-top: 900px;
    margin-left: -1440px;



}

.about-education11 {
    flex-grow: 1; 
}

.about-education11 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1194px;


}

/*section 12*/
.education-section12 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    margin-top: 20px;
}

.img-education12 {
    width: 577px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(education12.jpg) lightgray 50% / cover no-repeat;
    margin-top: 110px;
    margin-left: -1320px;
}

.about-education12 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top: 90px;
}

.about-education12 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}

/*section 13*/
.education-section13{
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    flex-shrink: 0;
    width: 1440px; 
    margin-top: 480px;
    margin-left: -1440px;



}

.about-education13 {
    flex-grow: 1; 
}

.about-education13 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1194px;

}

/*section 14*/
.education-section14 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    margin-top: 20px;
}

.img-education14 {
    width: 577px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(education14.jpg) lightgray 50% / cover no-repeat;
    margin-top: 530px;
    margin-left: -1350px;
}

.about-education14 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top:500px;
}

.about-education14 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}

/*section 15*/
.education-section15{
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    flex-shrink: 0;
    width: 1440px; 
    margin-top: 900px;
    margin-left: -1440px;



}

.about-education15 {
    flex-grow: 1; 
}

.about-education15 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1194px;

}
/*section 16*/
.education-section16 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    margin-top: 300px;
}

.img-education16 {
    width: 577px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(education16.jpg) lightgray 50% / cover no-repeat;
    margin-top: 530px;
    margin-left: -1350px;
}

.about-education16 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top:500px;
}

.about-education16 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}


/*--------EXPRESSO BLOG-----------*/
.xp-content h1 {
    color: #000;
    text-align: center;
    font-family: Labrada;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
}

.xp-section1 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    margin-top: 0px;
    max-width: 100%;
    flex-wrap: wrap; 
}


.about-xp1 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top:20px;
    margin-left: 50px;
}

.about-xp1 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 100px;
}
.img-xp1 {
    width: 507px;
    height: 482px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(xp1.jpg) lightgray 50% / cover no-repeat;
    margin-top: 20px;
    margin-left: 120px;
    border-radius:10px;
}

/*section 2*/
.xp-section2 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    margin-top: 10px;
    max-width: 100%;
    flex-wrap: wrap; 
}


.about-xp2 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top:5px;
    margin-left: 130px;
}

.about-xp2 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 40px;
}
.img-xp2 {
    width: 584px;
    height: 358px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(xp2.jpg) lightgray 50% / cover no-repeat;
    margin-top: -30px;
    margin-left: 10px;
    border-radius:10px;
}

/*section 3*/

.xp-section3{
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    flex-shrink: 0;
    width: 1440px; 
    margin-top: 900px;
    margin-left: -1440px;
    max-width: 100%;
    flex-wrap: wrap; 



}

.about-xp3{
    flex-grow: 1; 
}

.about-xp3 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 130px;
    margin-right: 100px;
    width: 1194px;

}

/*section 4*/
.xp-section4 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    margin-top: 0px;
    max-width: 100%;
    flex-wrap: wrap; 
}


.about-xp4 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top:20px;
    margin-left: 50px;
}

.about-xp4 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 45px;
}
.img-xp4 {
    width: 559px;
    height: 337px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(xp4.jpg) lightgray 50% / cover no-repeat;
    margin-top: 20px;
    margin-left: 100px;
    border-radius:10px;
}

/*section 5*/
.xp-section5{
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    flex-shrink: 0;
    width: 1440px; 
    margin-top: 20px;
    margin-left: -1440px;
    max-width: 100%;
    flex-wrap: wrap; 



}

.about-xp5{
    flex-grow: 1; 
    
}

.about-xp5 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 1550px;
    margin-right: 100px;
    width: 1194px;

}

/*section 6*/
.xp-section6 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    margin-top: 10px;
    max-width: 100%;
    flex-wrap: wrap; 
}


.about-xp6 {
    width: 594px;
    height: 330px;
    flex-shrink: 0;
    margin-top:5px;
    margin-left: 1550px;
}

.about-xp6 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 40px;
}
.img-xp6 {
    width: 584px;
    height: 358px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(xp6.jpg) lightgray 50% / cover no-repeat;
    margin-top: -400px;
    margin-left: 2200px;
    border-radius:10px;
}

/*section 7*/
.xp-section7 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    flex-shrink: 0;
    width: 1440px; 
    margin-top: -140px;
    margin-left: -1440px;
    max-width: 100%;
    flex-wrap: wrap; 



}

.about-xp7{
    flex-grow: 1; 
    
}

.about-xp7 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1194px;

}

/*Coffee Beans na blog boset*/

.coffeebeans-content h1 {
    color: #000;
    text-align: center;
    font-family: Labrada;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

/*coffee beans 1*/
.coffeebeans-section1 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.about-coffeebeans1 {
    flex-grow: 1; 
}

.about-coffeebeans1 {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 24.86px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;

}

/*coffee beans 2*/
.coffeebeans-section2 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.about-coffeebeans2 {
    flex-grow: 1; 
}

.about-coffeebeans2 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 24.86px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 30px;

   
}

.img-coffeebeans2 {
    margin-top: 40px;
    width: 274px;
    height: 274px;
    flex-shrink: 0; 
}

.img-coffeebeans2 a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15.657px;
    background: url(coffeebeans.jpg) lightgray 50% / cover no-repeat;
}

/*coffe beans 3*/
.coffeebeans-section3 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.about-coffeebeans3 {
    flex-grow: 1; 
}

.about-coffeebeans3 {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 24.86px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;

}

/*coffee beans 4*/
.coffeebeans-section4 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.about-coffeebeans4 {
    flex-grow: 1; 
}

.about-coffeebeans4 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 24.86px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 70px;

   
}

.img-coffeebeans4 {
    margin-top: 40px;
    width: 274px;
    height: 274px;
    flex-shrink: 0; 
}

.img-coffeebeans4 a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15.657px;
    background: url(coffeebeans4.jpg) lightgray 50% / cover no-repeat;
}

/*beans 5*/
.coffeebeans-section5 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.about-coffeebeans5 {
    flex-grow: 1; 
}

.about-coffeebeans5 {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 24.86px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;

}

/*coffebeans 6*/
.coffeebeans-section6 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.about-coffeebeans6 {
    flex-grow: 1; 
}

.about-coffeebeans6 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 24.86px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 70px;

   
}

.img-coffeebeans6 {
    margin-top: 90px;
    width: 274px;
    height: 274px;
    flex-shrink: 0; 
}

.img-coffeebeans6 a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15.657px;
    background: url(coffeebeans6.jpg) lightgray 50% / cover no-repeat;
}
/*coffee beans 7*/
.coffeebeans-section7 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.about-coffeebeans7 {
    flex-grow: 1; 
}

.about-coffeebeans7 {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 24.86px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;

}


/*----------KAPENG BARAKO BLOG-----------------*/


.kp-content h1 {
    color: #000;
    text-align: center;
    font-family: Labrada;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
}

.kp-section1 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    width: 836px;
    height: 310px;
    flex-shrink: 0;
    margin-top: 50px;
    


}

.about-kp1 {
    flex-grow: 1; 
}

.about-kp1 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: -180px;
    margin-right: 10px;
    width: 836px;
    margin-top: 50px; /*spaces ng mg aphrases*/
}

.img-kp1 {
    width: 336px;
    height: 327px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(kp1.jpg) lightgray 50% / cover no-repeat;
    margin-top: 20px;
    margin-left: -5px;
}


/*section 2*/
.kp-section2 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    
}

.img-kp2 {
    width: 577px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(kp2.jpg) lightgray 50% / cover no-repeat;
    margin-top: 30px;
    margin-left: 100px; /*para umusog pic sa right*/
}

.about-kp2 {
    width: 590px;
    height: 347px;
    flex-shrink: 0;
    margin-top: -400px;/*para bumaba sentence*/

}

.about-kp2 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -5px;
    margin-left: 770px;
    width: 590px;

}
/*section 3*/
.kp-section3 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    width: 1440px;
    height: 7485px;
    flex-shrink: 0;
    


}

.about-kp3{
    flex-grow: 1; 
}

.about-kp3 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1182px;
    
}

/*section 4*/
.kp-section4 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    margin-top: -7330px;
    
}

.img-kp4 {
    width: 577px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(kp4.jpg) lightgray 50% / cover no-repeat;
    margin-top: 30px;
    margin-left: 100px; /*para umusog pic sa right*/
}

.about-kp4 {
    width: 590px;
    height: 347px;
    flex-shrink: 0;
    margin-top: -400px;/*para bumaba sentence*/

}

.about-kp4 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -5px;
    margin-left: 770px;
    width: 590px;

}
/*section 5*/
.kp-section5 {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto; 
    width: 1440px;
    height: 7485px;
    flex-shrink: 0;
    


}

.about-kp5{
    flex-grow: 1; 
}

.about-kp5 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1182px;
    
}
/*ssection 6*/
kp-section6 {
    display: flex;
    gap: 20px;
    margin: 50px auto;
    max-width: 1440px;
    margin-top: -7000px;/*------------------*/

   
    
}

.img-kp6 {
    width: 577px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(kp6.jpg) lightgray 50% / cover no-repeat;
    margin-top: 30px;
    margin-left: 100px; /*para umusog pic sa right*/
}

.about-kp6 {
    width: 590px;
    height: 347px;
    flex-shrink: 0;
    margin-top: -10px;/*para bumaba sentence******************/

}

.about-kp6 p {
    color: #000;
    text-align: justify;
    font-family: Labrada;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -5px;
    margin-left: 770px;
    width: 590px;
    

}
